<a href="https://colab.research.google.com/github/AriannaGiannoni/MyByros_Challenge/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
path="/content/drive/MyDrive/dataset/receipt_challenge_dataset.csv.csv"
df=pd.read_csv(path)
df.head(10)

      filename        data       ora  totale    partita iva
0  0000001.jpg    00/00/00     00:00   €0,00    00000000000
1  0000002.jpg  00.0.00000     00:00   00,00    00000000000
2  0000003.jpg  00-00-0000     00:00     00,    00000000000
3  0000004.jpg  00-00-0000     00:00    0,00    00000000000
4  0000005.jpg  00/00/0000     00:00   00,00   00000000000;
5  0000006.jpg    00/00/00     00:00   00,00  00000000-0-00
6  0000007.jpg  00-00-0000     00:00   00,00    00000000000
7  0000008.jpg  0000/00/00     00:00  $00.00    00000000000
8  0000009.jpg       0/000     00:00    0.00    00000000000
9  0000010.jpg    00/00/00  00:00:00    0.00    00000000000

In [2]:
# Visualizzare info dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 764 entries, 0 to 763
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   filename     764 non-null    object
 1   data         760 non-null    object
 2   ora          755 non-null    object
 3   totale       761 non-null    object
 4   partita iva  762 non-null    object
dtypes: object(5)
memory usage: 30.0+ KB

In [3]:
# Verificare valori unici nella colonna data includendo i NaN
valori_unici = pd.unique(df['data'])
print("Valori unici (inclusi NaN se presenti):", valori_unici)

Valori unici (inclusi NaN se presenti): ['00/00/00' '00.0.00000' '00-00-0000' '00/00/0000' '0000/00/00' '0/000'
 '00.00.0000' '000.00.00' '0 mag 0000' '0/0/00' '00.00.00' '0000-00-00'
 '00 mayo 0000' '0/0/0000' nan 'ORA:' 'del:00/00/0000' '00/00/ 0000'
 '00/00' 'Maggio 00, 0000' '00-00-00' '0000.00.00' '0 000' '00 00 00(00%'
 '0/00/00' '00/00/0' '00 giu 0000' 'Thu 00 Jun 0000' '00/giu/0000'
 'Q0-00-0000' '0000. 00.00' '0G 00%' '00 maggio 0000' '0/00/0000'
 '0000.00.00.' '00 giugno 0000' '00.00.0000,' '00MAY00' '00/00/00,'
 '00.00' '00. Juni 0000' '00-JUN-00' '00 dic 0000' '00 00 00' 'Data:'
 '00 May 0000,' '00' '00/0000:00' '00- 00.0000' '00/0/00' '00/00/'
 'Date:00-00-0000' 'June 00, 0000' '0 LUGNO 0000' '00/00/00-00:00'
 'Stampato:00.00.0000' '00 May 00' '000000' '00 gen 0000'
 '00. giugno 0000' '000 00 00' 'Stampato:00.00 .0000'
 '00-00-0000-00.00.00)' '00.0.0000' '00 JUN 0000' ':00-MAY-0000'
 '00/00/00)']

In [23]:
# Funzione per identificare anomalie nella colonna data
def analizza_anomalie_data(df):
    anomalie = {}

    # Verificare se ci sono valori NaN nella colonna data
    anomalie['valori_nani'] = df[df['data'].isna()]

    # Verificare che la data non sia esattamente 00/00/0000, ma escludendo i NaN
    anomalie['date_non_conformi'] = df[(df['data'] != '00/00/0000') & (df['data'].notna())]

    # Calcolare totale delle anomalie
    anomalie['totale_anomalie'] = anomalie['valori_nani'].shape[0] + anomalie['date_non_conformi'].shape[0]

    return anomalie

# Analizzare anomalie nella colonna data
anomalie = analizza_anomalie_data(df)

# Mostrare totale delle anomalie e le anomalie separate
print(f"Totale anomalie: {anomalie['totale_anomalie']} anomalie\n")

print("Anomalie separate:")

for tipo, anomalie_df in anomalie.items():
    if tipo != 'totale_anomalie':  # Non stampare il totale qui
        print(f"\n{tipo}: {anomalie_df.shape[0]} anomalie")

Totale anomalie: 619 anomalie

Anomalie separate:

valori_nani: 4 anomalie

date_non_conformi: 615 anomalie

In [38]:
# Conteggio dei valori unici (escludendo '00/00/0000') e dei NaN nella colonna 'data'
valori_unici = df['data'].replace('00/00/0000', pd.NA).value_counts(dropna=False)

# Visualizza l'output
print("Conteggio dei valori unici (escludendo '00/00/0000') nella colonna 'data':")
print(valori_unici)

Conteggio dei valori unici (escludendo '00/00/0000') nella colonna 'data':
data
00-00-0000              283
00/00/00                204
<NA>                    145
00.00.0000               21
00.00.00                 10
0/000                     9
0000-00-00                6
00-00-00                  5
00/00                     5
0000.00.00                4
NaN                       4
0/00/00                   4
0/0/0000                  3
Stampato:00.00.0000       2
Maggio 00, 0000           2
0/00/0000                 2
00 giu 0000               2
00.00                     2
00 giugno 0000            2
00                        2
00.0.00000                1
ORA:                      1
00 mayo 0000              1
00/00/ 0000               1
del:00/00/0000            1
00 00 00(00%              1
0 000                     1
00/00/0                   1
Thu 00 Jun 0000           1
Q0-00-0000                1
00/giu/0000               1
0000/00/00                1
000.00.00                 1
0/0/00                    1
0 mag 0000                1
0000.00.00.               1
00 maggio 0000            1
0G 00%                    1
0000. 00.00               1
00/00/00,                 1
00. Juni 0000             1
00-JUN-00                 1
00MAY00                   1
00 dic 0000               1
00 00 00                  1
Data:                     1
00 May 0000,              1
00/0000:00                1
00- 00.0000               1
00/0/00                   1
00.00.0000,               1
00/00/                    1
Date:00-00-0000           1
0 LUGNO 0000              1
June 00, 0000             1
00/00/00-00:00            1
00 May 00                 1
000000                    1
00 gen 0000               1
00. giugno 0000           1
000 00 00                 1
Stampato:00.00 .0000      1
00-00-0000-00.00.00)      1
00.0.0000                 1
00 JUN 0000               1
:00-MAY-0000              1
00/00/00)                 1
Name: count, dtype: int64

In [6]:
# Verificare valori unici nella colonna ora includendo i NaN
valori_unici = pd.unique(df['ora'])
print("Valori unici (inclusi NaN se presenti):", valori_unici)

Valori unici (inclusi NaN se presenti): ['00:00' '00:00:00' '0:00:00' 'Ora:00:00' nan '00.00' '00 00 00'
 '00.00.00' '00:0' '00-00' '00/00' '00 00' '0:00' '00:00h' '00h00'
 '00 :00' '00 00.00' '00:00PM' '00:00:00,' ':00:00@' '00:0B' '-00:00'
 'ORA00:00' '0 :00' '00:00H' '00 00:00PM' '00:00:' ':00:00'
 'Fecha:00.00.00' 'Hora:00:00' 'Ora:' '0000:00' 'HORA:00:00' '00']

In [7]:
# Funzione per identificare anomalie nella colonna ora
def analizza_anomalie_ora(df):
    anomalie = {}

    # Verificare se ci sono valori NaN nella colonna ora
    anomalie['valori_nani'] = df[df['ora'].isna()]

    # Verificare che la ora non sia esattamente 00:00, escludendo i NaN
    anomalie['ora_non_conformi'] = df[(df['ora'] != '00:00') & (df['ora'].notna())]

    # Calcolare totale delle anomalie
    anomalie['totale_anomalie'] = anomalie['valori_nani'].shape[0] + anomalie['ora_non_conformi'].shape[0]

    return anomalie

# Analizzare anomalie nella colonna ora
anomalie = analizza_anomalie_ora(df)

# Mostrare totale delle anomalie e le anomalie separate
print(f"Totale anomalie: {anomalie['totale_anomalie']} anomalie\n")

print("Anomalie separate:")

for tipo, anomalie_df in anomalie.items():
    if tipo != 'totale_anomalie':  # Non stampare il totale qui
        print(f"\n{tipo}: {anomalie_df.shape[0]} anomalie")

Totale anomalie: 155 anomalie

Anomalie separate:

valori_nani: 9 anomalie

ora_non_conformi: 146 anomalie

In [35]:
# Conteggio dei valori unici (escludendo '00:00') e dei NaN nella colonna 'ora'
valori_unici = df['ora'].replace('00:00', pd.NA).value_counts(dropna=False)

# Visualizza l'output
print("Conteggio dei valori unici (escludendo '00:00') nella colonna 'ora':")
print(valori_unici)

Conteggio dei valori unici (escludendo '00:00') nella colonna 'ora':
ora
<NA>              609
00:00:00           86
00.00.00           11
NaN                 9
00.00               7
0:00                5
00:00h              4
Ora:00:00           3
0:00:00             3
00 00               2
-00:00              2
00-00               1
00 00 00            1
00:0                1
00h00               1
00 :00              1
00 00.00            1
00/00               1
00:00PM             1
00:00:00,           1
:00:00@             1
00:0B               1
ORA00:00            1
0 :00               1
00:00H              1
00 00:00PM          1
00:00:              1
:00:00              1
Fecha:00.00.00      1
Hora:00:00          1
Ora:                1
0000:00             1
HORA:00:00          1
00                  1
Name: count, dtype: int64

In [10]:
# Verificare valori unici nella colonna totale includendo i NaN
valori_unici = pd.unique(df['totale'])
print("Valori unici (inclusi NaN se presenti):", valori_unici)

Valori unici (inclusi NaN se presenti): ['€0,00' '00,00' '00,' '0,00' '$00.00' '0.00' '00.00' '0.00€' '0 000'
 '0.000,00' '00,00%' '00' '000.00' '000,00' '00,0' '0.000,000000'
 '0,000000' '-00,00€' '00 00' '0,000.00' nan '€00,00' '0000,' '0000'
 '00,00€' '000' '€0.00' '00,000' '£0.00' '00 000' '0,00E' '-000,00' '0'
 '00.' '0.00 00' '$' '00.0' '$000.00' '00€' '00, 00' '-0,00€' '000 00'
 '0,0' '0, 00' '00000' '00. 00' '0,00€' '00. 00EUR' '00/00/0000' '0/00'
 '00,000.00' '0,000' '00,0000']

In [11]:
# Funzione per identificare anomalie nella colonna totale
def analizza_anomalie_totale(df):
    anomalie = {}

    # Verificare se ci sono valori NaN nella colonna totale
    anomalie['valori_nani'] = df[df['totale'].isna()]

    # Verificare che la data non sia esattamente 00,00, ma escludendo i NaN
    anomalie['totale_non_conformi'] = df[(df['totale'] != '00,00') & (df['totale'].notna())]

    # Calcolare totale delle anomalie
    anomalie['totale_anomalie'] = anomalie['valori_nani'].shape[0] + anomalie['totale_non_conformi'].shape[0]

    return anomalie

# Analizzare anomalie nella colonna data
anomalie = analizza_anomalie_totale(df)

# Mostrare totale delle anomalie e le anomalie separate
print(f"Totale anomalie: {anomalie['totale_anomalie']} anomalie\n")

print("Anomalie separate:")

for tipo, anomalie_df in anomalie.items():
    if tipo != 'totale_anomalie':  # Non stampare il totale qui
        print(f"\n{tipo}: {anomalie_df.shape[0]} anomalie")

Totale anomalie: 480 anomalie

Anomalie separate:

valori_nani: 3 anomalie

totale_non_conformi: 477 anomalie

In [34]:
# Conteggio dei valori unici (escludendo '00,00') e dei NaN nella colonna 'totale'
valori_unici = df['totale'].replace('00,00', pd.NA).value_counts(dropna=False)

# Visualizza l'output
print("Conteggio dei valori unici (escludendo '00,00') nella colonna 'totale':")
print(valori_unici)

Conteggio dei valori unici (escludendo '00,00') nella colonna 'totale':
totale
<NA>            284
0,00            176
00.00            68
0.00             67
000,00           45
0.00€            11
000.00            9
€0.00             7
€0,00             6
-00,00€           6
0.000,000000      5
0.000,00          5
0,000000          5
$000.00           5
00                4
0 000             4
0,000.00          4
€00,00            4
000               4
NaN               3
00,               2
00,000.00         2
00,0              2
00,00%            2
$00.00            2
00,000            2
00 000            2
0,0               2
0000              2
00 00             1
£0.00             1
-000,00           1
0                 1
00.               1
0,00E             1
00,00€            1
0000,             1
00.0              1
$                 1
0.00 00           1
00, 00            1
-0,00€            1
000 00            1
0, 00             1
00€               1
00000             1
00. 00            1
00. 00EUR         1
0,00€             1
00/00/0000        1
0/00              1
0,000             1
00,0000           1
Name: count, dtype: int64

In [19]:
# Verificare valori unici nella colonna data includendo i NaN
valori_unici = pd.unique(df['partita iva'])
print("Valori unici (inclusi NaN se presenti):", valori_unici)

Valori unici (inclusi NaN se presenti): ['00000000000' '00000000000;' '00000000-0-00' '00000000000"'
 'ACU000000000' '0000/00000' '000000 00000' 'IT00000000000' 'A-00000000'
 '00000000000->00' '0000000000' 'B00000000' 'C.F./P.I.00000000000'
 'P.I.00000000000' 'NIF:P_0000000_B' '000000000000' 'ATU 00000000'
 '00000000000-TEL.' 'NIF:A-00000000' 'PI00000000000' 'FR00000000000'
 '0000000 0000' '00000000000,' 'FR 00 000 000 000' 'IT 00000000000'
 'GB 000 0000 00' 'SI00000000' 'FR 00000000000' 'HU00000000'
 '00000000000.' 'A00000000' '000000000' '/P.I.00000000000'
 '.I.00000000000' nan 'RNC-000-00000-0' '00000000000/REA' 'ATU00000000'
 'P,IVA:00000000000' 'F./P.I.00000000000' 'IVA:IT(00000000000'
 '00 000 000 000' 'ACU00000000Q' '.00000000000' 'B-00000000' 'LU 00000000'
 'B 00000000' 'FR00 000 000 000' 'HICM000000U00' '00N000000IC0'
 'IVA00000000000' '00000000/00' '00000000 00']

In [20]:
# Funzione per identificare anomalie nella colonna partita iva
def analizza_anomalie_partita_iva(df):
    anomalie = {}

    # Verificare se ci sono valori NaN nella colonna partita iva
    anomalie['valori_nani'] = df[df['partita iva'].isna()]

    # Verificare che la partita iva non sia esattamente 00000000000, escludendo i NaN
    anomalie['partite_iva_non_conformi'] = df[(df['partita iva'] != '00000000000') & (df['partita iva'].notna())]

    # Calcolare il totale delle anomalie
    anomalie['totale_anomalie'] = anomalie['valori_nani'].shape[0] + anomalie['partite_iva_non_conformi'].shape[0]

    return anomalie

# Analizzare anomalie nella colonna partita iva
anomalie = analizza_anomalie_partita_iva(df)

# Mostrare totale delle anomalie e le anomalie separate
print(f"Totale anomalie: {anomalie['totale_anomalie']} anomalie\n")

print("Anomalie separate:")

for tipo, anomalie_df in anomalie.items():
    if tipo != 'totale_anomalie':  # Non stampare il totale qui
        print(f"\n{tipo}: {anomalie_df.shape[0]} anomalie")

Totale anomalie: 105 anomalie

Anomalie separate:

valori_nani: 2 anomalie

partite_iva_non_conformi: 103 anomalie

In [31]:
# Conteggio dei valori unici (escludendo '00000000000') e dei NaN nella colonna 'partita iva'
valori_unici = df['partita iva'].replace('00000000000', pd.NA).value_counts(dropna=False)

# Visualizza l'output
print("Conteggio dei valori unici (escludendo '00000000000') nella colonna 'partita iva':")
print(valori_unici)

Conteggio dei valori unici (escludendo '00000000000') nella colonna 'partita iva':
partita iva
<NA>                    659
A-00000000               11
IT00000000000             9
00000000-0-00             6
P.I.00000000000           5
0000000000                4
00000000000,              4
FR00000000000             3
000000000000              3
000000000                 3
00000000000-TEL.          2
PI00000000000             2
00000000000;              2
B00000000                 2
NIF:P_0000000_B           2
A00000000                 2
/P.I.00000000000          2
FR 00 000 000 000         2
IT 00000000000            2
C.F./P.I.00000000000      2
0000/00000                2
NaN                       2
SI00000000                2
00000000000.              2
ATU 00000000              1
00000000000"              1
ACU000000000              1
000000 00000              1
00000000000->00           1
NIF:A-00000000            1
FR 00000000000            1
GB 000 0000 00            1
0000000 0000              1
HU00000000                1
.I.00000000000            1
RNC-000-00000-0           1
00000000000/REA           1
ATU00000000               1
P,IVA:00000000000         1
F./P.I.00000000000        1
IVA:IT(00000000000        1
00 000 000 000            1
ACU00000000Q              1
.00000000000              1
B-00000000                1
LU 00000000               1
B 00000000                1
FR00 000 000 000          1
HICM000000U00             1
00N000000IC0              1
IVA00000000000            1
00000000/00               1
00000000 00               1
Name: count, dtype: int64